<% layout("/layouts/boilerplate")%>
    <script>
      const coordinates = <%-JSON.stringify(listing.geometry.coordinates)%>
    </script>
  <div class="row mt-3">
      <div class="col-10 offset-1">
        <h2><%= listing.title %></h2>
    <div class="card listing-card">
      <img src="<%=listing.image.url%>" class="card-img-to show-img" alt="listing_img"/>
      <div class="card-body">
        <p class="card-text"></p>
        <ul>
          <i><b>Created By : <%= listing.owner.username %></b></i>
          <li><%= listing.description %></li>
          <li> <%= listing.location%></li>
          <li>Price: &#8377;<%= listing.price != null ? listing.price.toLocaleString("en-IN") : "N/A" %>/night
          </li>
          <li><%= listing.country %></li>
        </ul>
      </div>
   </div>
   <% if(currentuser && currentuser._id.equals(listing.owner._id)) {%>
  <div class="btns">
    <a href="/listings/<%= listing._id%>/edit" class="btn" style="background-color: rgb(126, 102, 214)">Edit</a>
    <br><br>
    <form method="POST" action="/listings/<%= listing._id %>?_method=DELETE">
      <button class="btn btn-danger">Delete</button>
    </form>
  </div>
  <%}%>
  <br>
  </div>
  <br><br>
  <div class="col-10 offset-1">
  <% if(currentuser) { %>
<h4>LEAVE YOUR COMMENT</h4>
<form action="/listings/<%=listing.id%>/reviews" method="POST" novalidate class="needs-validation">
  <div>
    <label class="form-label">Comment</label>
    <textarea 
      id="comment" cols="35" rows="8" 
      type="text" 
      name="review[comment]"
      class="form-control" required></textarea>
    <div class="valid-feedback">Thanks for comment</div>
    <div class="invalid-feedback">Please leave a comment</div>
  </div>
  <br>
  <div class="mb-3 mt-3">
    <label class="form-label">Ratings</label>
    <fieldset class="starability-slot">
      <input type="radio" id="no-rate" class="input-no-rate" name="review[rating]" value="1" checked aria-label="No rating." />
      <input type="radio" id="first-rate1" name="review[rating]" value="1" />
      <label for="first-rate1" title="Terrible">1 star</label>
      <input type="radio" id="first-rate2" name="review[rating]" value="2" />
      <label for="first-rate2" title="Not good">2 stars</label>
      <input type="radio" id="first-rate3" name="review[rating]" value="3" />
      <label for="first-rate3" title="Average">3 stars</label>
      <input type="radio" id="first-rate4" name="review[rating]" value="4" />
      <label for="first-rate4" title="Very good">4 stars</label>
      <input type="radio" id="first-rate5" name="review[rating]" value="5" />
      <label for="first-rate5" title="Amazing">5 stars</label>
    </fieldset>
  </div>
  <br>
  <button class="btn btn-success">Submit</button>
  <br><br>
</form>
<% } %>
<% if(listing.reviews.length) { %>
<p><b>All Reviews</b></p>
<div class="row">
  <% for(review of listing.reviews) { %>
    <div class="card review-card" style="width: 18rem;">
      <div class="card-body ms-2 mb-2">
        <h4 class="card-title">@<%=review.author.username%></h4>
        <p class="starability-result" data-rating="<%=review.rating%>"></p>
        <p class="card-text"><%=review.comment%></p>
        <form method="POST" action="/listings/<%=listing._id%>/reviews/<%=review._id%>?_method=DELETE">
          <button class="btn btn-danger">Delete</button>
        </form>
      </div>
    </div>
  <% } %>
</div>
<%}%>
<br><br>
<h3>Where we will be</h3>
<div class="col-10 offset-1 mb-3">
<div id="map"></div>
</div>



